services:
  - type: web
    name: langgraph-backend
    env: docker
    dockerfilePath: ./Dockerfile
    plan: free
    healthCheckPath: /ok
    envVars:
      - key: OPENAI_API_KEY
        sync: false
      - key: TAVILY_API_KEY
        sync: false
      - key: LANGSMITH_API_KEY
        sync: false
      - key: LANGSMITH_PROJECT
        sync: false
      - key: LANGSMITH_TRACING
        value: false
